@use "../abstracts/variables" as *;

.header {
	&__wrapper {
		background-color: pink;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo {
		display: flex;
		align-items: center;
		gap: 12px;
		color: $color-navy-blue;
	}
	&__links-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 24px;
	}
	&__link:last-child {
		padding-left: 20px;
		a {
			background: $color-green-light;
			border: none;
			padding: 12px 24px;
			color: $color-green-dark;
		}
	}
	&__button {
		background-color: rgba(255, 255, 255, 0.1);
		border: 1px solid rgba(255, 255, 255, 0.3);
		color: $color-white;
	}
}