$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$color-white: #ffffff;
$nav-links: #f0f3fd;
$color-navy-blue: #1b1c57;
$color-deep-blue: #0e1735;
$color-green-dark: #047857;
$color-green: #10b981;
$color-green-light: #d1fae5;
$color-gray-dark: #626687;
$color-gray: #888b97;
$color-gray-light: #e0e3eb;
$color-orange: #f59e0a;
$color-red: #ef4444;
$color-red-light: #fee2e2;
$color-blue: #1d4ed8;
$color-blue-light: #dbeafe;

$multiplier: 4;